{{extend 'layout.html'}}

<div class="top-bar about-top">
    <h1>About Fitters</h1>
    <!-- <p><a href="#">Home</a> / Services</p> -->
    <!-- <img src="{{=URL('static','images/business-final2.jpg')}}" alt="Rails" width="100%"> -->
</div>


<div class="container main-container">
    <div class="clearfix">

      <!-- cover video -->
      <div class="row about-cover-div">

        <!-- <div class="pb-video">
          <iframe class="" width="100%" height="400" src="https://www.youtube.com/embed/SPcEKL7qRRc?version=3&loop=1&autoplay=1&playlist=SPcEKL7qRRc" frameborder="0" allowfullscreen></iframe>
        </div> -->

        <iframe class="" width="100%" height="400" src="https://www.youtube.com/embed/SPcEKL7qRRc" frameborder="0" allowfullscreen></iframe>

        <!-- <img src="{{=URL('static','images/fitters_utube4.jpg')}}" alt="Rails" width="100%"> -->

      </div>

      <!-- *************************************************************** -->

      <!-- content below  -->
      <div class="row content-row">

        <div class="about-title col-lg-12 col-md-12 col-sm-12">
          <h2>Idea and concept</h2>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          about fitters, who created it, message of ceo, idea and reason behind it, facility

          <p>
            What is Lorem Ipsum?

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Why do we use it?

            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          <!-- image/images here -->

          <img src="{{=URL('static','images/01.jpg')}}" alt="Rails" width="100%">

        </div>

      </div>
      <hr class="style18">

      <!-- *************************************************************** -->

      <div class="row content-row">

        <div class="about-title col-lg-12 col-md-12 col-sm-12">
          <h2>Pick Up</h2>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          <!-- image/images here -->

          <img src="{{=URL('static','images/02.jpg')}}" alt="Rails" width="100%">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-div">

          <p>
            What is Lorem Ipsum?

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Why do we use it?

            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>

        </div>

      </div>
      <hr class="style18">

      <!-- *************************************************************** -->

      <div class="row content-row">

        <div class="about-title col-lg-12 col-md-12 col-sm-12">
          <h2>Fabric Shrinking</h2>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          about fitters, who created it, message of ceo, idea and reason behind it

          <p>
            What is Lorem Ipsum?

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Why do we use it?

            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          <!-- image/images here -->

          <img src="{{=URL('static','images/03.jpg')}}" alt="Rails" width="100%">
        </div>

      </div>
      <hr class="style18">

      <!-- *************************************************************** -->

      <div class="row content-row">

        <div class="about-title col-lg-12 col-md-12 col-sm-12">
          <h2>Stitching</h2>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          <!-- image/images here -->

          <img src="{{=URL('static','images/04.jpg')}}" alt="Rails" width="100%">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          image/images here

          <p>
            What is Lorem Ipsum?

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Why do we use it?

            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>

        </div>

      </div>
      <hr class="style18">

      <!-- *************************************************************** -->

      <div class="row content-row">

        <div class="about-title col-lg-12 col-md-12 col-sm-12">
          <h2>Quality Check</h2>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          about fitters, who created it, message of ceo, idea and reason behind it, facility

          <p>
            What is Lorem Ipsum?

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Why do we use it?

            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          <!-- image/images here -->

          <img src="{{=URL('static','images/05.jpg')}}" alt="Rails" width="100%">

        </div>

      </div>
      <hr class="style18">

      <!-- *************************************************************** -->

      <!-- ***************************************************** -->

      <div class="row content-row">

        <div class="about-title col-lg-12 col-md-12 col-sm-12">
          <h2>Delivery</h2>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          <!-- image/images here -->

          <img src="{{=URL('static','images/06.jpg')}}" alt="Rails" width="100%">


        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-div">
          image/images here

          <p>
            What is Lorem Ipsum?

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Why do we use it?

            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>

        </div>

      </div>


    </div>
</div>
