<!-- {{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}} -->
{{extend 'layout.html'}}

<!-- box-intro -->
<section class="box-intro">
    <div class="table-cell">
        <h1 class="box-headline letters rotate-2">
            <span class="box-words-wrapper">
                <b class="is-visible">fitters.</b>
                <b>&nbsp;quality.</b>
                <b>&nbsp;&nbsp;stitch.</b>
            </span>
    </h1>
        <h5>we stitch to your fit</h5>
    </div>

    <div class="mouse">
        <div class="scroll"></div>
    </div>
</section>
<!-- end box-intro -->
</div>

<!-- portfolio div -->
<div class="portfolio-div">
<div class="portfolio">
    <div class="no-padding portfolio_container">
        <!-- single work -->
        <div class="col-md-3 col-sm-6  fashion logo">
            <a href="{{=URL('default', 'men')}}" class="portfolio_item">
                <!-- <img src="img/portfolio/01.jpg" alt="image" class="img-responsive" /> -->
                <img src="{{=URL('static','images/men.jpg')}}" alt="image" class="img-responsive" />
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Men</span>
                            <em>Style / Stitch</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-3 col-sm-6 ads graphics">
            <a href="{{=URL('default', 'women')}}" class="portfolio_item">
                <img src="{{=URL('static','images/women.jpg')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/03.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Women</span>
                            <em>Style / Stitch</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-6 col-sm-12 photography">
            <a href="{{=URL('default', 'unstitched')}}" class="portfolio_item">
                <img src="{{=URL('static','images/unstitched.jpg')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/02.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Unstitched Collection</span>
                            <em>New / Arrivals </em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-3 col-sm-6 fashion ads">
            <a href="{{=URL('default', 'mini')}}" class="portfolio_item">
                <img src="{{=URL('static','images/mini.jpg')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/04.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Mini</span>
                            <em>Kids / Stitch</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-3 col-sm-6 graphics ads">
            <a href="{{=URL('default', 'accessories')}}" class="portfolio_item">
                <img src="{{=URL('static','images/portfolio/05.jpg')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/05.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Accessories</span>
                            <em>Home / Office / Decore</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-6 col-sm-12 photography">
            <a href="{{=URL('default', 'about')}}" class="portfolio_item">
                <img src="{{=URL('static','images/portfolio/010.jpg')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/010.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>About Fitters</span>
                            <em>Ideology / Facility</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-3 col-sm-6 graphics ads">
            <a href="{{=URL('default', 'business')}}" class="portfolio_item">
                <img src="{{=URL('static','images/portfolio/06.jpg')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/06.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Business</span>
                            <em>Startups / Services</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-3 col-sm-6 graphics ads">
            <a href="{{=URL('default', 'overseas')}}" class="portfolio_item">
                <img src="{{=URL('static','images/testbg1000.png')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/07.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Overseas</span>
                            <em>Abroad / Shipments</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-3 col-sm-6 graphics ads">
            <a href="{{=URL('default', 'prices')}}" class="portfolio_item">
                <img src="{{=URL('static','images/prices.jpg')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/08.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Prices</span>
                            <em>Charges / Types</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->

        <!-- single work -->
        <div class="col-md-3 col-sm-6 graphics ads">
            <a href="offers" class="portfolio_item">
                <img src="{{=URL('static','images/offers1.png')}}" alt="image" class="img-responsive" />
                <!-- <img src="img/portfolio/09.jpg" alt="image" class="img-responsive" /> -->
                <div class="portfolio_item_hover">
                    <div class="portfolio-border clearfix">
                        <div class="item_info">
                            <span>Offers</span>
                            <em>Discount / Rebate</em>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- end single work -->
    </div>
    <!-- end portfolio_container -->
</div>
<!-- portfolio -->
</div>
<!-- end portfolio div -->
