{{extend 'layout.html'}}

<div class="container-fluid pb-video-container">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center"> {{=msg}} </h1>
        <div class="row pb-row" style="margin-top:5%;">
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Ffitters.io%2Fvideos%2F540097826391438%2F&show_text=0&width=560" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">Fitters - Ad (1)</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Ffitters.io%2Fvideos%2F560433461024541%2F&show_text=0&width=476" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">Manuel Riva - Mhm Mhm</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame " width="100%" height="230" src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Ffitters.io%2Fvideos%2F538033639931190%2F&show_text=0&width=560" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">Clean Bandit - Rockabye</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Ffitters.io%2Fvideos%2F534480260286528%2F&show_text=0&width=560" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">Burak Yeter - Tuesday</label>
            </div>
        </div>
        <div class="row pb-row">
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Ffitters.io%2Fvideos%2F537006800033874%2F&show_text=0&width=476" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">F.O. and Peeva - Lichnata</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/QpbQ4I3Eidg?ecver=1" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">Machine Gun - Bad Things</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/h3kRIxLruDs?ecver=" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">INNA - Say it with your body</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/Jr4TMIU9oQ4?ecver=1" frameborder="0" allowfullscreen></iframe>
                <label class="form-control text-center">INNA - Gimme Gimme</label>
            </div>
        </div>
    </div>
</div>
